        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #000000;
        }

        header,
        span {
            background: #333;
            text-align: center;
            font-size: x-large;
            color: whitesmoke;
        }

        nav a {
            text-decoration: none;
            display: inline-block;
            padding: 20px;
            font-size: xx-large;
            background-color: #ff6b00;
            text-align: center;
            line-height: 40px;
            border-radius: 8px;
            color: whitesmoke;
            border: solid 1px #1abc9c;

        }

        .a-1:hover{
            background-image: url(tchert/chr-1.jpg);
            background-size: cover;
        }

        
        .a-2:hover{
            background-image: url(tchert/tch-6.png);
            background-size: cover;
        }
        
        .a-1:hover{
            background-image: url(tchert/chr-1.jpg);
            background-size: cover;
        }
        nav {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: space-evenly;
            height: 80vh;

        }
        
