        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
                   background-color: #ff6b00;
        }

        header {
            background: #333;
            text-align: center;
            border-radius: 0 0 10px 10px;
        }

        header,
        h1,
        span {
            padding: 0 5px;
            color: antiquewhite;
        }

        .main {
            margin:30px 10px ;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 10px;
            gap: 30px;
            height: 100%;
        }

        .cart {
            padding: 20px;
            width: 250px;
            border:solid 1px red;
            border-radius: 10px;

  
        }

        .cart img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: 8px;
        }

        .cart p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
         
            border-radius: 20px;
            margin:10px 0 ;
            
        }
        .cart span:hover{
            background-color: red;
            color: wheat;
            border: none;
        }
            .cart span{
                color:black;
                border: 1px solid ;
                border-radius: 7px;
            }
        .cart .actions {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-top: auto;
  
            border-radius: 10px;
        }

        .cart .cart-icon {
            width: 24px;
            height: 24px;
            cursor: pointer;
        
       }

        .cart button {
            background: #28a745;
            color: white;
            border: none;
            padding: 6px 12px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 13px;
        }

        .cart button:hover {
            background: #218838;
        }
footer{
    background: whitesmoke;
    padding: 10px;
    text-align: center;
}
footer a{
    text-decoration: none;
}
footer button{
    margin-top:20px ;
    padding:5px 50px;
    border-radius: 10px;
}
footer button:hover{
    background:linear-gradient(#218838,#ff6b00) ;
}
